body {
   font-family: agency fb;
   background-color: black;
   background-repeat: no-repeat;
   background-size: 100%;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: grey;
}

li {
  float: top;  
  float: left;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 18px 25px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #BE5DF5;
}

.active {
  background-color: #BE5DF5;
}

#ABO{
  position:absolute;
  bottom:10px;
}

.Social-Images{
  width: 90px;
  height: 50px;
  color: white;
}
.Social-Image{
  width: 100px;
  height: 50px;
  color: white;
}
.Social-Picture{
  width: 50px;
  height: 50px;
  color: white;
}
.Social-GIF{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 500px;
  color: white;
}
.Social-Foto{
  width: 55px;
  height: 50px;
  color: white;
}
.Social-Photoes{
  width: 80px;
  height: 50px;
  color: white;
}
.Social-Photo{
  width: 50px;
  height: 50px;
  color: white;
}
